@model RealProject.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
</ul>

<div>
    <h4>Ticket details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.konu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.konu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.problem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.problem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarih)
        </dd>

    </dl>
</div>


@using (Html.BeginForm("Answer", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ticket answer form</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.problem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.problem, new { cols = 60, rows = 10, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.problem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cevapla" class="btn btn-default btn-lg" />
            </div>
        </div>
    </div>
}
